<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wirecard.DeveloperPortal.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SaleServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SaleServiceSoap1" />
                <binding name="SubscriberManagementServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SubscriberManagementServiceSoap1" />
                <binding name="MSendSMSServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SaleServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="SubscriberManagementServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.wirecard.com.tr/services/saleservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SaleServiceSoap"
                contract="ApiPlusAndProApiService.SaleServiceSoap" name="SaleServiceSoap" />
            <endpoint address="https://www.wirecard.com.tr/services/saleservice.asmx"
                binding="customBinding" bindingConfiguration="SaleServiceSoap12"
                contract="ApiPlusAndProApiService.SaleServiceSoap" name="SaleServiceSoap12" />
            <endpoint address="https://www.3pay.com/services/SubscriberManagementService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SubscriberManagementServiceSoap"
                contract="SubscriberService.SubscriberManagementServiceSoap"
                name="SubscriberManagementServiceSoap" />
            <endpoint address="https://www.3pay.com/services/SubscriberManagementService.asmx"
                binding="customBinding" bindingConfiguration="SubscriberManagementServiceSoap12"
                contract="SubscriberService.SubscriberManagementServiceSoap"
                name="SubscriberManagementServiceSoap12" />
            <endpoint address="http://vas.mikro-odeme.com/services/msendsmsservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MSendSMSServiceSoap"
                contract="SendInformationSMSService.MSendSMSServiceSoap" name="MSendSMSServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Wirecard.DeveloperPortal.Core.Properties.Settings>
            <setting name="codevist_Wirecard_DeveloperPortal_Core_ApiService_SaleService"
                serializeAs="String">
                <value>https://www.wirecard.com.tr/services/saleservice.asmx</value>
            </setting>
        </Wirecard.DeveloperPortal.Core.Properties.Settings>
    </applicationSettings>
</configuration>